<nav class="navbar navbar-dark bg-dark navbar-expand flex-wrap">
    <div class="container-fluid">
        <a href="#" class="navbar-brand d-none d-md-block">Tanner Stocks</a>
        <div class="navbar-nav text-nowrap me-auto">
            <a href="#" class="nav-link">Home</a>
            <a href="#" class="nav-link">Coding</a>
            <a href="#" class="nav-link">3D Printing</a>
        </div>
        <form class="d-flex ms-auto">
            <div class="collapse collapse-horizontal" id="search-collapse">
                <input class="form-control me-1" id="navbar-search" type="search" placeholder="Search"/>
            </div>
            <button class="btn ms-1" type="button" data-bs-toggle="collapse" data-bs-target="#search-collapse">
                <i class="bi-search navbar-text"></i>
            </button>
        </form>
    </div>
</nav>